.user-headline {
  margin-bottom: 10px;
  size: 100px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0ch;
  color: green;
}

.user-create {
  color: black;
  text-align: center;
  text-shadow: 0ch;
  font-family: "Times New Roman", Times, serif;
  text-font-weight: bold;
}
